// 색지정 메인 스타일만 설정

html,
body,
#root {
  height: 100%;
  width: 100%;
  // 메인 색
  --main-bg-color: #1e1e1e;
  --main-text-color: white;
  --main-line-color: white;
  // 컨테이너 색
  --container-bg-color: rgba(255, 255, 255, 0.5);
  --container-text-color: #1e1e1e;
  --container-line-color: white;
  // 강조 색
  --ice-main-color: rgb(0, 166, 237);
  --ice-main-bg-color: rgb(0, 166, 237, 0.1);
  --ice-line-color: rgb(0, 166, 237);

  // 사이즈
  --main-border-size: 0.5px;
  --main-padding-size: 5px;
  --main-big-padding-size: 10px;
  --container-width-size: 400px;
  --container-frame-height-size: 200px;
  --container-img-height-size: 180px;
  --container-radius-size: 10px;

  // 폰트
  --main-font-family: "Roboto Mono";
  --main-font-size: 14px;
  --main-copy-font-size: 10px;
  --container-font-size: 11px;
  --container-big-font-size: 14px;
}

body {
  font-family: var(--main-font-family);
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
