// 색지정 메인 스타일만 설정
html,
body,
#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;

  // 메인 색
  --main-bg-color: #1e1e1e;
  --main-hover-color: #494949;
  --main-hover-line-color: #999999;
  --main-color: #cfcfcf;
  --main-color_1: #ababab;
  --main-line-color: #494949;
  --main-disabled-color: #505050;

  // 강조 색
  --ice-main-color: rgb(156, 220, 254);
  --ice-main-color_1: rgb(226, 216, 225);
  --ice-main-color_2: rgb(35, 209, 124);
  --ice-main-color_3: rgb(204, 167, 0);

  // 수직 스크롤바
  // Chrome, Safari, Edge, Opera
  ::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /* Scrollbar 높이 */
    background-color: rgba(255, 255, 255, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* 스크롤바 색상 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(
      --main-hover-line-color
    ); /* 마우스 호버시 스크롤바 색상 */
  }
}
