// 색지정 메인 스타일만 설정

html,
body,
#root {
  height: 100%;
  width: 100%;
  // 메인 색
  --main-bg-color: #1e1e1e;
  --main-text-color: white;
  --main-line-color: white;
  --main-font-size: 14px;
  // 컨테이너 색
  --container-bg-color: rgba(255, 255, 255, 0.5);
  --container-text-color: #1e1e1e;
  --container-line-color: white;
  // 강조 색
  --ice-main-color: rgb(0, 166, 237);
  --ice-main-bg-color: rgb(0, 166, 237, 0.1);
  --ice-line-color: rgb(0, 166, 237);
}

body {
  // font-family: system-ui;
  font-family: "Roboto Mono";
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
