name: Deploy Repo
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v3

      - name: Set up Git user
        env:
          GIT_USER_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
        run: |
          git config --global user.name "$GIT_USER_NAME"
          git config --global user.email "$GIT_USER_EMAIL"

      - name: Install dependencies and build
        run: |
          npm ci
          npm run build

      - name: Deploy to private repo
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          REPO_URL: ${{ secrets.REPO_URL }}
          EXCLUDE_FILES: 'CNAME LICENSE README.md'
        run: |
          # 설정: SSH 키 추가
          mkdir -p ~/.ssh
          echo "$DEPLOY_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

          # 빌드 레포지토리 클론 및 배포
          git clone "$REPO_URL" deploy-repo

          # deploy-repo 디렉토리 정리 (환경변수로 정의된 파일 제외)
          cd deploy-repo
          git checkout master
          shopt -s extglob
          EXCLUDE_PATTERN=$(echo "$EXCLUDE_FILES" | sed 's/ /|/g')
          rm -rf ./!($EXCLUDE_PATTERN)

          # dist 파일 복사
          cp -r ../out/* ./
          touch .nojekyll
          git add .
          git commit -m "Automated Deployment: $(date '+%Y-%m-%d %H:%M:%S')"
          git push origin master
